DeclarationServices/WSDLFiles/UreticiSatisIptalReceiver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://its.iegm.gov.tr/bildirim/BR/v1/SatisIptal/Uretici" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="UreticiSatisReceiver" targetNamespace="http://its.iegm.gov.tr/bildirim/BR/v1/SatisIptal/Uretici" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://its.iegm.gov.tr/bildirim/BR/v1/SatisIptal/Uretici">
      <xsd:complexType name="BildirimHataType">
        <xsd:sequence>
          <xsd:element name="FC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FM" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SatisIptalBildirimType">
        <xsd:sequence>
          <xsd:element name="DT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[C]" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="13" />
                <xsd:pattern value="[0-9]*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[0-9]*" />
                <xsd:length value="13" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BELGE" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="DD" type="xsd:date" />
                <xsd:element name="DN" nillable="true">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:pattern value="[A-Z0-9]*" />
                      <xsd:minLength value="1" />
                      <xsd:maxLength value="20" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="URUNLER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="URUN">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="GTIN">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="14" />
                            <xsd:pattern value="[0-9]*" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SN">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z0-9]*" />
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="20" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SatisIptalBildirimCevapType">
        <xsd:sequence>
          <xsd:element name="BILDIRIMID" type="xsd:string" />
          <xsd:element name="URUNLER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="URUNDURUM">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="GTIN">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="14" />
                            <xsd:pattern value="[0-9]*" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SN">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z0-9]*" />
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="20" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="UC">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BildirimHata" type="tns:BildirimHataType" />
      <xsd:element name="SatisIptalBildirimCevap" type="tns:SatisIptalBildirimCevapType" />
      <xsd:element name="SatisIptalBildirim" type="tns:SatisIptalBildirimType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SatisIptalBildirMsg">
    <wsdl:part name="body" element="tns:SatisIptalBildirim" />
  </wsdl:message>
  <wsdl:message name="SatisIptalBildirCevap">
    <wsdl:part name="body" element="tns:SatisIptalBildirimCevap" />
  </wsdl:message>
  <wsdl:message name="SatisIptalHataFault">
    <wsdl:part name="fault" element="tns:BildirimHata" />
  </wsdl:message>
  <wsdl:portType name="SatisIptalBildirimReceiver">
    <wsdl:operation name="SatisIptalBildir">
      <wsdl:input name="input" message="tns:SatisIptalBildirMsg" />
      <wsdl:output name="output" message="tns:SatisIptalBildirCevap" />
      <wsdl:fault name="fault" message="tns:SatisIptalHataFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SatisIptalBildirimReceiverBinding" type="tns:SatisIptalBildirimReceiver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SatisIptalBildir">
      <soap:operation soapAction="http://its.iegm.gov.tr/bildirim/BildirimReceiver/v1/SatisIptal/Uretici/SatisIptalBildirRequest" style="document" />
      <wsdl:input name="input">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="output">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UreticiSatisIptalReceiverService">
    <wsdl:port name="SatisIptalBildirimReceiverBindingPort" binding="tns:SatisIptalBildirimReceiverBinding">
      <soap:address location="http://its.saglik.gov.tr:80/UreticiSatisIptal/UreticiSatisIptalReceiverService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>