DeclarationServices/WSDLFiles/UreticiSatisReceiver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://its.iegm.gov.tr/bildirim/BR/v1/Satis/UreticiSatis" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="UreticiSatisReceiver" targetNamespace="http://its.iegm.gov.tr/bildirim/BR/v1/Satis/UreticiSatis" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://its.iegm.gov.tr/bildirim/BR/v1/Satis/UreticiSatis">
      <xsd:complexType name="BildirimHataType">
        <xsd:sequence>
          <xsd:element name="FC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FM" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SatisBildirimType">
        <xsd:sequence>
          <xsd:element name="DT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[S]" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="13" />
                <xsd:pattern value="[0-9]*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="TO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[0-9]*" />
                <xsd:length value="13" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BELGE" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="DD" type="xsd:date" />
                <xsd:element name="DN" nillable="true">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:pattern value="[A-Z0-9]*" />
                      <xsd:minLength value="1" />
                      <xsd:maxLength value="20" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="URUNLER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="URUN">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="GTIN">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="14" />
                            <xsd:pattern value="[0-9]*" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SN">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z0-9]*" />
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="20" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SatisBildirimCevapType">
        <xsd:sequence>
          <xsd:element name="BILDIRIMID" type="xsd:string" />
          <xsd:element name="URUNLER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="URUNDURUM">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="GTIN">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="14" />
                            <xsd:pattern value="[0-9]*" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="SN">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z0-9]*" />
                            <xsd:minLength value="1" />
                            <xsd:maxLength value="20" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="UC">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="BildirimHata" type="tns:BildirimHataType" />
      <xsd:element name="SatisBildirimCevap" type="tns:SatisBildirimCevapType" />
      <xsd:element name="SatisBildirim" type="tns:SatisBildirimType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SatisBildirMsg">
    <wsdl:part name="body" element="tns:SatisBildirim" />
  </wsdl:message>
  <wsdl:message name="SatisBildirCevap">
    <wsdl:part name="body" element="tns:SatisBildirimCevap" />
  </wsdl:message>
  <wsdl:message name="SatisHataFault">
    <wsdl:part name="fault" element="tns:BildirimHata" />
  </wsdl:message>
  <wsdl:portType name="SatisBildirimReceiver">
    <wsdl:operation name="SatisBildir">
      <wsdl:input name="input" message="tns:SatisBildirMsg" />
      <wsdl:output name="output" message="tns:SatisBildirCevap" />
      <wsdl:fault name="fault" message="tns:SatisHataFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SatisBildirimReceiverBinding" type="tns:SatisBildirimReceiver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SatisBildir">
      <soap:operation soapAction="http://its.iegm.gov.tr/bildirim/BildirimReceiver/v1/Satis/Uretici/SatisBildirRequest" style="document" />
      <wsdl:input name="input">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="output">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UreticiSatisReceiverService">
    <wsdl:port name="SatisBildirimReceiverBindingPort" binding="tns:SatisBildirimReceiverBinding">
      <soap:address location="http://212.174.130.240:8080/UreticiSatis/UreticiSatisReceiverService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>