DeclarationServices/Web References/ErrorCodes/ErrorCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.reference.its/" targetNamespace="http://services.reference.its/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="referenceError" nillable="true" type="tns:referanceErrorType" />
  <xs:element name="request" nillable="true" type="tns:errorCodeRequest" />
  <xs:element name="response" nillable="true" type="tns:errorCodeResponse" />
  <xs:complexType name="errorCodeRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="errorCodeResponse">
    <xs:sequence>
      <xs:element name="errorCodes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="errorCode" nillable="true" type="tns:errorCode" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="errorCode">
    <xs:sequence>
      <xs:element name="type" type="xs:string" />
      <xs:element name="code" type="xs:string" />
      <xs:element name="message" type="xs:string" />
      <xs:element name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="referanceErrorType">
    <xs:sequence>
      <xs:element name="faultCode" type="xs:string" />
      <xs:element name="faultMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>