DeclarationServices/Web References/ProductionService/UretimBildirimReceiver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://its.iegm.gov.tr/bildirim/BR/v1/Uretim" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UretimBildirimReceiver" targetNamespace="http://its.iegm.gov.tr/bildirim/BR/v1/Uretim" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="http://its.iegm.gov.tr/bildirim/BR/v1/Uretim">
      <xsd:complexType name="BildirimHataType">
        <xsd:sequence>
          <xsd:element name="FC">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="FM" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UretimBildirimType">
        <xsd:sequence>
          <xsd:element name="DT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[M|I]" />
                <xsd:length value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MI">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="13" />
                <xsd:pattern value="[0-9]*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="PT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="PP" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="MD" type="xsd:date" />
          <xsd:element name="GTIN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="14" />
                <xsd:pattern value="[0-9]*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="XD" type="xsd:date" />
          <xsd:element name="BN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[A-Z0-9]*" />
                <xsd:minLength value="1" />
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="BELGE" nillable="true">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="DD" type="xsd:date" />
                <xsd:element name="DN">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:pattern value="[A-Z0-9]*" />
                      <xsd:minLength value="1" />
                      <xsd:maxLength value="20" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="URUNLER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="SN">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:pattern value="[A-Z0-9]*" />
                      <xsd:minLength value="1" />
                      <xsd:maxLength value="20" />
                      <xsd:whiteSpace value="collapse" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UretimBildirimCevapType">
        <xsd:sequence>
          <xsd:element name="BILDIRIMID" type="xsd:string" />
          <xsd:element name="MD" type="xsd:date" />
          <xsd:element name="GTIN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:length value="14" />
                <xsd:pattern value="[0-9]*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="XD" type="xsd:date" />
          <xsd:element name="BN">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:pattern value="[A-Z0-9]*" />
                <xsd:minLength value="1" />
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="URUNLER">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="unbounded" name="SNDURUM">
                  <xsd:complexType>
                    <xsd:sequence minOccurs="1" maxOccurs="1">
                      <xsd:element name="SN">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[A-Z0-9]*" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="UC">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:length value="5" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Uretim" type="tns:UretimBildirimType" />
      <xsd:element name="UretimResponse" type="tns:UretimBildirimCevapType" />
      <xsd:element name="BildirimHata" type="tns:BildirimHataType" />
    </xsd:schema>
  </types>
  <message name="UretimBildirMsg">
    <part name="body" element="tns:Uretim" />
  </message>
  <message name="UretimBildirCevapMsg">
    <part name="body" element="tns:UretimResponse" />
  </message>
  <message name="UretimHataFault">
    <part name="fault" element="tns:BildirimHata" />
  </message>
  <portType name="UretimBildirimReceiver">
    <operation name="UretimBildir">
      <input name="input" message="tns:UretimBildirMsg" />
      <output name="output" message="tns:UretimBildirCevapMsg" />
      <fault name="fault" message="tns:UretimHataFault" />
    </operation>
  </portType>
  <binding name="UretimBildirimReceiverBinding" type="tns:UretimBildirimReceiver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="UretimBildir">
      <soap:operation soapAction="http://its.iegm.gov.tr/bildirim/BildirimReceiver/v1/UretimBildirim/UretimBildirRequest" style="document" />
      <input name="input">
        <soap:body use="literal" />
      </input>
      <output name="output">
        <soap:body use="literal" />
      </output>
      <fault name="fault">
        <soap:fault use="literal" name="fault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="UretimBildirimReceiverService">
    <port name="UretimBildirimReceiver" binding="tns:UretimBildirimReceiverBinding">
      <soap:address location="http://212.174.130.240:8080/UretimBildirim/UretimBildirimReceiverService" />
    </port>
  </service>
</definitions>